mixin drop()
  div(uk-drop)&attributes(attributes)
    if block
      block
    else
      p Error: No block defined for drop mixin

mixin dropdown()
  div(uk-dropdown)&attributes(attributes)
    if block
      block
    else
      p Error: No block defined for drop mixin
