{{define "stinger"}}
  <link rel="icon" type="image/png" href="/static/assets/favicon.png">
  <script src="/static/assets/js/uikit-icons.js"></script>
  <link rel="stylesheet" href="/static/pipeline/stylesheets/application.css" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/assets/js/uikit.js"></script>

  <link rel="stylesheet" href="/static/assets/css/uikit.css" />
  <link rel="stylesheet" href="/static/assets/css/main.css" />
  <script src="/static/assets/js/main.js"></script>
  <script src="/static/assets/js/application.js"></script>
  {{ if  .}}
    <script src="/static/pipeline/scripts/{{.}}.js"></script>
    <link rel="stylesheet" href="/static/pipeline/stylesheets/{{.}}.css" />
  {{end}}
{{end}}